

nav {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 100%;
}

.iconHolder,
.login {
    display: flex;
    align-items: center;
    color: black;
}

#logo {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 180px;
    top: 55px;
}

a {
    text-decoration: none;
    color: inherit;
}

link {
    text-decoration: none;
    color: var(--negro);
}

.links,
#loginButton {
    font-size: 13px;
}

.burger {
    padding: 20px;
}

.menuOpen .link:not(.active):hover {
    color: inherit;
    font-size: 20px;
}

.closeactive:hover,
.closedesable:hover {
    color: var(--coralito);
}

.closedesable {
    margin-left: 4px;
}

.iconHolder h3 {
    margin-left: 20px;
}

.searchAndBuyIcons {
    display: flex;
    margin-right: 25px;
}

#search,
#buy {
    width: 16px;
    height: 16px;
    margin-bottom: 9px;
    margin-left: 20px;
}



@media screen and (max-width: 950px) {

    .navBar {
        display: flex;
        flex-direction: row-reverse;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity 0.5s ease;
    }

    .iconHolder {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        transition: max-height 0.5s ease;
        position: fixed;
        top: 100px;
        right: 0;
        margin: 0;
        border-radius: 10px;
        width: 150px;
        height: 73px;
        z-index: 2;
    }

    #logo {
        left: 30px;
        top: 55px;
        padding: 0;
    }

    .link {
        font-size: 20px;
        padding: 0;
    }

    .menuOpen .iconHolder {
        display: flex;
        color: var(--gris);
        background-color: var(--negro);
        padding-top: 10px;
        padding-right: 15px;
    }

    .closeactive {
        color: white
    }

    .menuOpen .overlay {
        display: block;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menuOpen .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 7px);
        background-color: var(--coralito);
    }

    .menuOpen .bar:nth-child(2) {
        opacity: 0;
        background-color: var(--coralito);
    }

    .menuOpen .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -7px);
        background-color: var(--coralito);
    }

    .menuOpen>.selink {
        color: var(--coralito);
    }

    .menuOpen .link:not(.active):hover {
        color: none;
    }

    .searchAndBuyIcons {
        display: flex;
        position: absolute;
        right: 30px;
        top: 75px;
        margin-right: 45px;
        transform: translateY(-50%);
    }

    #search {
        margin-right: -10px;
    }

}
